@import url('https://fonts.googleapis.com/css?family=SF%20Pro%20Display:700|SF%20Pro%20Text:400');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    /* Colors */
    --color-text: #2D3648;
    --color-border-select: #6B7280;
    --color-border: #D8DADF;
    --color-background: #F2F2F2;
    --color-content: #F5F5F5;
    --color-primary: #2D3648; /* #0F51B8; */
    --color-secondary: #647693;

    /* Typography */
    --font-primary: 'SF Pro Text', system-ui, -apple-system, sans-serif;
    --font-interface: 'SF Pro Display', system-ui, -apple-system, sans-serif;
    --text-xs: 0.75rem;     /* 12px - Fine print */
    --text-sm: 0.875rem;    /* 14px - UI elements */
    --text-base: 1rem;      /* 16px - Body text */
    --text-lg: 1.125rem;    /* 18px - Important content */
    --text-xl: 1.25rem;     /* 20px - Subheadings */
    --text-2xl: 1.5rem;     /* 24px - Section headers */
    --text-3xl: 1.875rem;   /* 30px - Page titles */
    --text-4xl: 2.25rem;    /* 36px - Main headlines */

    /* Spacing - base unit: 4px */
    --space-xs: 0.5rem;     /*  8px - Tight spacing */
    --space-sm: 0.75rem;    /* 12px - Compact elements */
    --space-base: 1rem;     /* 16px - Standard spacing */
    --space-lg: 2rem;       /* 32px - Section spacing */
    --space-xl: 3rem;       /* 48px - Large separation */
    --space-2xl: 4rem;      /* 64px - Major sections */
    --space-3xl: 6rem;      /* 96px - Page-level spacing */
    --space-4xl: 9rem;      /* 144px */

    /* Misc */
    --max-width: 75rem;         /* 1200px */
    --border-radius: 0.75rem;   /* 12px */
}

/* Base Styles */
body {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;

    color: var(--color-text);
    background: var(--color-background);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:visited {
    color: var(--color-text);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-interface);
    font-weight: 600;
    line-height: 1.2;
}

html { 
    font-size: 100%; /* 16 px */
    scroll-behavior: smooth;
}

h1 {font-size: var(--text-4xl); }

h2 {font-size: var(--text-3xl); }

h3 {font-size: var(--text-2xl); }

h4 {font-size: var(--text-xl); }

h5 {font-size: var(--text-lg); }

p {font-size: var(--text-base); }

small {font-size: var(--text-sm); }

/* Layout */

.dots {
    background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 0px);
    background-repeat: repeat;
    background-size: var(--space-base) var(--space-base);
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--space-4xl);
    justify-content: center;
    align-items: center;
    padding-bottom: var(--space-3xl);
    width: min(var(--max-width), 100% - 2rem);
    margin-inline: auto;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: var(--space-lg);
    color: var(--color-secondary);
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

.section-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    text-align: center;
    padding: 0 var(--space-base);
}

.separator {
    width: 20rem;
    height: 1px;
    background: linear-gradient(
        to right,
        rgba(15, 82, 186, 0) 0%,
        var(--color-primary) 50%,
        rgba(15, 82, 186, 0) 100%
    );
}

.title {
    color: var(--color-primary);
    text-align: center;
}

.subtitle {
    font-size: var(--text-lg);
    color: var(--color-secondary);
    text-align: center;
}

.una {
    display: inline;
    background: #121FCF;
    background: linear-gradient(to top right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.tsar {
    display: inline;
    background: #B6B908;
    background: linear-gradient(to top right, #B6B908 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.link {
    color: var(--color-primary) !important;
}

/* Navigation */
#brand_logo {
    width: 12rem;
}

.nav {
    padding: var(--space-sm) var(--space-sm);
    border-bottom: var(--color-border) 1px solid;
    position: fixed;
    width: 100%;
    background-color: var(--color-content);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}

.nav__content {
    display: flex;
    justify-content: start;
    gap: var(--space-xl);
}

nav a {
    color: var(--color-text);
    transition: all 0.2s ease;

    text-decoration: none;
    font-weight: 700;
    font-size: var(--text-sm);

    /* Hover state */
    &:hover {
        color: var(--color-primary);
    }

    /* Active/Current page state */
    &.active {
        color: var(--color-primary);
    }

    /* Click/Press state */
    &:active {
        color: color-mix(in srgb, var(--color-primary-blue) 80%, black);
    }
}

[id] {
    scroll-margin-top: var(--space-xl);
}

/* Hero section */
.hero {
    margin-top: var(--space-2xl);
    padding: var(--space-3xl);
    text-align: center;
    width: min(var(--max-width), 100% - 2rem);
}

.hero__title {
    max-width: 24ch;
}

.text-gradient {
    background: linear-gradient(
        to right,
        #92969b 0%,
        var(--color-primary) 88%,
        var(--color-primary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback */
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.hero__subtitle__text {
    font-size: var(--text-xl);
    color: var(--color-secondary);
    max-width: 30ch;
}

.hero__subtitle__btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-lg);
}

.image-stack {
    position: relative;
    width: min(1200px, 90vw);
    min-height: 40vh;
}

.left-card {
    position: absolute;
    left: 5%;
    width: 40%;
    transform: translateY(40%);
    filter: blur(1px);
    border-radius: var(--border-radius);
    opacity: 0.75;
}

.center-card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.right-card {
    position: absolute;
    right: 5%;
    width: 40%;
    transform: translateY(40%);
    filter: blur(1px);
    border-radius: var(--border-radius);
    opacity: 0.75;
}

.center-card-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 2;
}

.particle {
    position: absolute;
    top: 0;
    width: 3px;
    height: 3px;
    background: var(--color-primary);
    border-radius: 50%;
    z-index: -1;
}

@keyframes burstUp1 {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-20px, -40px) scale(0);
        opacity: 0;
    }
}

@keyframes burstUp2 {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(15px, -50px) scale(0);
        opacity: 0;
    }
}

@keyframes burstUp3 {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-10px, -45px) scale(0);
        opacity: 0;
    }
}

/* Position particles along the top border */
.particle:nth-child(1) { left: 20%; animation: burstUp1 1.2s infinite; background: #0F51B8; }
.particle:nth-child(2) { left: 40%; animation: burstUp2 1.4s infinite; animation-delay: 0.1s; background: #0F51B8; }
.particle:nth-child(3) { left: 60%; animation: burstUp3 1.1s infinite; animation-delay: 0.2s; background: #577dba; }
.particle:nth-child(4) { left: 80%; animation: burstUp2 1.3s infinite; animation-delay: 0.3s; background: #577dba; }
.particle:nth-child(5) { left: 30%; animation: burstUp1 1.2s infinite; animation-delay: 0.4s; background: #0F51B8; }
.particle:nth-child(6) { left: 70%; animation: burstUp3 1.4s infinite; animation-delay: 0.5s; background: #577dba; }
.particle:nth-child(7) { left: 45%; animation: burstUp1 1.1s infinite; animation-delay: 0.6s; background: #577dba; }
.particle:nth-child(8) { left: 85%; animation: burstUp2 1.2s infinite; animation-delay: 0.7s; background: #0F51B8; }

/* Add glow effect */
.particle::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    background: inherit;
    border-radius: 50%;
    filter: blur(2px);
    opacity: 0.6;
}

/* Ensure responsiveness */
@media (max-width: 480px) {
    .center-card-container::before {
        display: none;
    }

    .center-card-container {
        position: relative;
        width: 100%;
        transform: none;
        left: auto;
    }
    
    .particle {
        display: none;
    }
}

/* Our Platform Section */
.soft-bold {
    color: var(--color-text);
}

.features-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-sm);
}

.features-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--space-sm);
    width: 100%;
    margin: 0 auto;
}

/* Our Platform Section -> Small Card */

.small-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-lg) var(--space-lg);
    border: var(--color-border) 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--color-content);
    width: fit-content;
    
    transition: all 0.2s ease;
    &:hover {
        border-color: var(--color-border-select);
    }
}

.card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.card-title {
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
}

.card-title > p {
    font-size: var(--text-base);
}

.card-text {
    color: var(--color-secondary);
    width: 18rem;
}

/* Our Platform Section -> Large Card */

.large-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: var(--space-lg) var(--space-lg);
    border: var(--color-border) 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--color-content);
    width: fit-content;

    transition: all 0.2s ease;
    &:hover {
        border-color: var(--color-border-select);
    }
}

.large-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.large-card-footer {
    display: flex;
    flex-direction: column;
}

.large-card-footer-title {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
}

/* How It Works Section */

.journeys {
    display: flex;
    flex-direction: column;
}

.journey {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--space-2xl);
}

.journey > .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: var(--space-sm);
    height: var(--space-sm);
    background-color: var(--color-primary);
    border-radius: 50%;
    z-index: 2;
}

.dashed-line {
    width: 1px;
    border-left: 1px dashed var(--color-primary);
    margin-top: -1px;
    height: 500px; /* ! Hacky fix */
    border-style: dashed;
    border-image: repeating-linear-gradient(
        to bottom,
        var(--color-primary) 0,
        var(--color-primary) 8px,
        transparent 8px,
        transparent 18px
    ) 1;
}

.journey > .right {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.journey > .right > p {
    width: 450px;
    color: var(--color-secondary);
}

/* ML-Powered Models Section */
.models {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xl);
    justify-content: center;
}

/* Science & Technology Section */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.carousel-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel-card {
    display: flex;
    flex-direction: row;
    padding-right: var(--space-lg);
    gap: var(--space-lg);
    align-items: start;
    width: fit-content;
    border: var(--color-border) 1px solid;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-content);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(0);  /* Enable hardware acceleration - wtf? cool as fuck */
    filter: blur(1px);
    opacity: 0;
    transition: filter 0.4s ease, opacity 0.4s ease;
}

.carousel-content > p {
    width: 30rem;
}

.carousel-card.active {
    opacity: 1;
    filter: blur(0);
    position: relative;
}

.carousel-card > img {
    object-fit: cover;
    width: 370px;
    height: 390px;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    padding: var(--space-lg) 0;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

.carousel-left,
.carousel-right {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white;
    color: var(--color-primary);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: var(--color-border) 1px solid;
    transition: all 0.2s ease;
}

.carousel-left:hover,
.carousel-right:hover {
    border-color: var(--color-border-select);
}

.carousel-dots {
    display: flex;
    gap: var(--space-sm);
    justify-content: center;
    align-items: center;
}

.carousel-dot {
    width: var(--space-sm);
    height: var(--space-sm);
    border-radius: 50%;
    background-color: #D1D5DB;
    cursor: pointer;
    transition: all 0.2s ease;
}

.carousel-dot.active {
    background-color: var(--color-primary);
}

/* Testimonials Section */

.testimonial {
    display: flex;
    gap: var(--space-2xl);
    justify-content: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    width: 30rem;
}

.testimonial-content > p {
    color: var(--color-secondary);
    font-size: var(--text-lg);
}

.testimonial-content > img {
    width: 39px;
    height: 39px;
}

.testimonial-headshot {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 186px; /* ! Hacky fix */
}

.testimonial-headshot > img {
    max-width: 164px;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.testimonial-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.testimonial-name {
    color: var(--color-text);
    font-weight: 600;
}

.testimonial-org {
    color: var(--color-secondary);
}

/* Meet the Team Section */

.headshots {
    display: flex;
    gap: var(--space-4xl);
    align-items: start;
}

.headshot {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    justify-content: center;
    width: fit-content;
}

.headshot-main > img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.headshot-main {
    background-color: var(--color-content);
    border: var(--color-border) 1px solid;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 16rem;
    cursor: pointer;

    transition: all 0.3s ease;
    &:hover {
        border-color: var(--color-border-select);
    }
}

.headshot-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-base);
}

.headshot-name {
    font-weight: 700;
    font-size: calc(var(--text-base) - 1px); /* To account for Tomislav's second line*/
}

.previous-roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.previous-roles > p {
    font-weight: 600;
    font-size: var(--text-sm);
    color: var(--color-secondary);
}

.logos {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.orgs {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    justify-content: center;
    align-items: center;
}

/* Contact Us Section */

.get-in-touch {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 32px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-content);
    width: 40rem;
}

.contact-title {
    display: flex;
    gap: 32px;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-text-container > p {
    color: var(--color-secondary);
    font-size: var(--text-lg);
}

.contact-footer {
    display: flex;
    gap: 24px;
    align-items: center;
}

.also-book-call > p {
    color: var(--color-secondary);
}

.also-book-call {
    display: flex;
    gap: 4px;
}

.email-form {
    display: flex;
    gap: var(--space-md);
    border: 1px solid var(--color-border);
    border-radius: var(--space-xs);
    overflow: hidden;
    padding: var(--space-xs) var(--space-base);
    background-color: var(--color-content);
}

.email-input {
    border: none;
    font-size: var(--text-base);
    color: var(--color-secondary);
    background-color: transparent;
    min-width: 14rem;
}

.email-input:focus {
    outline: none;
}

/* Buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.65rem var(--space-base);
    width: fit-content;
    white-space: nowrap;

    cursor: pointer;
    user-select: none;
    color: var(--color-content);
    text-decoration: none;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);

    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 1;

    /* Normal state */
    background: var(--color-primary);
    transition: all 0.2s ease;

    /* Hover state - 10% darker */
    &:hover {
        background: color-mix(in srgb, var(--color-primary) 80%, black);
    }

    /* Active/Pressed state - 20% darker */
    &:active {
        background: color-mix(in srgb, var(--color-primary) 60%, black);
    }
}

.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.65rem var(--space-base);

    cursor: pointer;
    user-select: none;
    color: var(--color-text);
    text-decoration: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 1;

    /* Normal state */
    background: var(--color-content);
    transition: all 0.2s ease;

    /* Hover state - 10% darker */
    &:hover {
        border-color: var(--color-border-select);
    }

    /* Active/Pressed state - 20% darker */
    &:active {
        border-color: var(--color-primary);
        color: var(--color-primary);
    }
}

/* Media Queries */


@media (max-width: 1310px) {
    .large-card-img {
        display: none;
    }
}

@media (max-width: 1140px) {
    .features-grid {
        grid-template-columns: auto auto;
    }

    .large-card {
        grid-column: auto;
    }

    .headshots {
        gap: var(--space-2xl);
    }
}

@media (max-width: 1024px) {
    .models {
        gap: var(--space-sm);
    }
}

@media (max-width: 950px) {
    .carousel-card {
        flex-direction: column;
        padding-right: 0;
        gap: var(--space-base);
    }

    .carousel-content {
        padding: var(--space-lg);
    }

    .carousel-card > img {
        width: 100%;
    }

    .headshots {
        gap: var(--space-xl);
    }
}

@media (max-width: 900px) {
    .journey > img {
        display: none;
    }

    .journey {
        gap: var(--space-lg);
    }

    .testimonial-content {
        width: 20rem;
    }

    .headshots {
        flex-direction: column;
    }

    .headshot-first {
        order: -1;
    }

    .headshot-main {
        flex-direction: row;
    }

    .nav-items {
        display: none;
    }
}

@media (max-width: 768px) {
    .image-stack {
        min-height: 20vh;
    }

    .models {
        flex-direction: column;
        align-items: center;
        gap: var(--space-xl);
    }

    .features-grid {
        grid-template-columns: auto;
    }

    .large-card-body {
        gap: var(--space-xl);
    }
}

@media (max-width: 680px) {
    .contact-title > img {
        display: none;
    }
    
    .contact-footer {
        flex-direction: column;
        align-items: start;
    }

    .get-in-touch {
        width: fit-content;
        align-items: start;
    }
}

@media (max-width: 600px) {
    .carousel-content > p {
        width: 20rem;
    }

    .testimonial {
        gap: var(--space-lg);
    }

    .testimonial-headshot {
        order: -1;
        width: 100px;
    }

    .testimonial-content {
        width: 10rem;
    }

    .testimonial-content > img {
        display: none;
    }

    .testimonial-content > p {
        font-size: var(--text-sm);
    }

    p {
        font-size: 0.9rem !important;
    }

    .orgs {
        flex-direction: column;
    }

    .journey {
        justify-content: center;
    }

    .journey > .right {
        width: 20rem;
    }

    .journey > .right > p {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .email-input {
        min-width: 14rem;
    }

    .carousel-card > img {
        display: none;
    }

    .image-stack {
        min-height: 10vh;
    }

    .hero__title {
        font-size: var(--text-3xl);
        min-width: 16ch;
    }

    .hero__subtitle__text {
        font-size: var(--text-base);
        min-width: 20ch;
    }

    .hero__subtitle__btns {
        flex-direction: column;
        align-items: center;
        gap: var(--space-sm);
    }

    .image-stack {
        aspect-ratio: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .center-card {
        position: relative;
        width: 100% !important;
        transform: none;
        left: auto;
        right: auto;
        filter: none;
    }

    .left-card {
        left: 10%;
        width: 80%;
        transform: translateY(40%);
    }

    .right-card {
        right: 10%;
        width: 80%;
        transform: translateY(-15%);
    }

    .features-grid {
        padding: 0;
    }
}

@media (max-width: 425px) {
    #how-it-works {
        display: none;
    }
}

@media (max-width: 420px) {
    :root {
        --space-lg: 1rem;
    }

    .card-img {
        display: none;
    }

    .large-card-footer {
        display: none;
    }

    .journey > .left {
        display: none;
    }
}

@media (max-width: 375px) {
    #btn_navbar {
        display: none;
    }

    .carousel-content > h4 {
        width: 16rem;
    }

    .carousel-content > p {
        width: 16rem;
    }

    .card-text {
        width: 14rem;
    }

    .large-card-body {
        width: 14rem;
    }

    .separator {
        width: 14rem;
    }

    .hero__title {
        min-width: 14ch;
    }

    .hero__subtitle__text {
        min-width: 20ch;
    }
}
